[Unit]
Description=FBabay monitor app service
After=network.target

[Service]
User=admin 
Type=simple
ExecStart=/usr/bin/node server/app.js
WorkingDirectory=/opt/baby-monitor
LimitNOFILE=65536
Restart=always
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
